__pycache__/*
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe
*.o
*.obj
*.lib
*.a
*.so
*.dylib
*.dSYM
*.rbc
*.rbc~
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.rar
*.7z
*.bz2
*.gz

settings.py
sdgb.py